.joke {
  border-top-style: dashed;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: dashed;
  border-width: 6px;
  width: 70%;
  height: 15%;
  text-align: center;
  line-height: 90px;
  margin: auto auto;
  vertical-align: middle;
  margin-top: 20px;
  border-color: #35a2e6;
  color: #3da8eb;
  background-color: white;
  padding: 2%;
}
.base {
  background-color: rgba(255, 203, 160, 0.431);
  background-position: center;
  width: 60%;
  height: 150px;
  margin: auto auto;
  position: relative;
}
label {
  padding-right: 10px;
  font-size: 20px;
  padding-left: 10px;
}
input {
  margin-top: 50px;
  width: 30%;
  border-color: rgb(185, 179, 179);
  border-width: 1px;
  border-style: solid;
  height: 40px;
  font-size: 17px;
}
select {
  margin-right: 50px;

  background-color: white;
  width: 20%;
  height: 42px;
  border-style: solid;
  border-color: rgb(185, 179, 179);
  border-width: 1px;
  font-size: 17px;
}

.jokeresponse {
  background-color: white;
  margin-top: 150px;
  padding-bottom: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

.go {
  margin: auto;
  padding: 10px;
  background-color: rgb(214, 121, 44);
  color: white;
  width: 20%;
  border-radius: 5px;
}
