.table {
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto auto;
}
.td {
  padding-top: 100px;
  border-bottom: solid;
  border-color: rgb(195, 195, 195);
}
.div {
  background-color: rgba(255, 203, 160, 0.431);
  background-position: center;
  width: 60%;
  height: 150px;
  margin: auto auto;
  position: relative;
}
label {
  padding-right: 10px;
  font-size: 20px;
  padding-left: 10px;
}
.input {
  padding-right: 200px;
  margin-right: 100px;
}

.go {
  margin: auto;
  padding: 10px;
  background-color: rgb(214, 121, 44);
  color: white;
  width: 20%;
  border-radius: 5px;
  margin-left: 10px;
}
