.search-button {
  text-decoration: none;
  color: rgb(214, 121, 44);
  background-color: white;
  border: 2px solid rgb(214, 121, 44);
  font-size: 16px;
  margin: 16px 0;
  width: 8%;
  padding: 15px 26px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.random-button {
  text-decoration: none;
  color: rgb(214, 121, 44);
  background-color: white;
  border: 2px solid rgb(214, 121, 44);
  border-right: none;
  font-size: 16px;
  margin: 16px 0;
  width: 8%;
  padding: 15px 26px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.clicked-left {
  color: white;
  background-color: rgb(214, 121, 44);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(214, 121, 44);
  color: white;
  cursor: pointer;
}
.random-button:hover {
  background-color: rgb(214, 121, 44);
  color: white;
  cursor: pointer;
}

.clicked-right {
  color: white;
  background-color: rgb(214, 121, 44);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.search {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mid {
  margin-top: 100px;
}
.ul {
  list-style-type: none;
}
